-r api/requirements.txt
-r frontend/requirements.txt

aiosqlite
apprise
cloudpickle
coolname
croniter
databricks-sdk
dateparser
fsspec
gitdb
GitPython
google-auth
graphene
graphql-core
graphql-relay
graphviz
griffe
gunicorn
humanize
importlib_metadata
importlib_resources
jinja2-humanize-extension
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kubernetes
Mako
Markdown
markdown-it-py
MarkupSafe
mdurl
mlflow-skinny
mypy
oauthlib
opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
packaging
pathspec
pendulum
pillow
pip-audit
pluggy
protobuf
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic-extra-types
pydantic-settings
pydantic_core
Pygments
pyparsing
pytest
pytest-asyncio
pytest-env
pytest-order
python-slugify
python-socks
pytz
PyYAML
readchar
referencing
regex
requests-oauthlib
rfc3339-validator
rich
rpds-py
rsa
ruamel.yaml
ruamel.yaml.clib
ruff
scipy
shellingham
six
smmap
sniffio
sqlparse
text-unidecode
threadpoolctl
toml
typer
types-python-jose
types-requests
typing-inspection
typing_extensions
tzdata
tzlocal
ujson
urllib3
uv
websocket-client
websockets
Werkzeug
zipp
